<section>
  <article>
    <header #listheader>
      <bm-user-group>
        <i class="fa"
           [ngClass]="icon"></i>
      </bm-user-group>
      <h1>User List</h1>
    </header>
    <bm-user
      name="user 1"
      [selectedUsrName]="selectedUsr"
      (selected)="setSelectedUsr( $event )"
    ></bm-user>
    <bm-user
      name="user 2"
      [selectedUsrName]="selectedUsr"
      (selected)="setSelectedUsr( $event )"
    ></bm-user>
    <bm-user
      name="user 3"
      [selectedUsrName]="selectedUsr"
      (selected)="setSelectedUsr( $event )"
    ></bm-user>
    <bm-user
      name="user 4"
      [selectedUsrName]="selectedUsr"
      (selected)="setSelectedUsr( $event )"
    ></bm-user>
  </article>
</section>

