<section>
  <article>
    <header #listheader bmDoHover="yellow" style="color: dimgray">
      <bm-user-group>
        <i class="fa"
           [ngClass]="icon"></i>
      </bm-user-group>
      <h1>User List</h1>
    </header>
    <aside bmDoHover>
      {{'test' | reverse}} <br>
      {{'test' | reverse: 'hi' }}
    </aside>
    <bm-user *ngFor="let usr of userList | reverse ; index as i; even as e; odd as o"
             [user]="usr"
             [ngClass]="{even: e, odd: o}"
             [selectedUsr]="selectedUsr"
             (selected)="setSelectedUsr( $event )"
    ></bm-user>
  </article>
</section>

