header {

  background-color: aliceblue;
  border-bottom-style: solid;
  border-bottom-color: red;
  h1 {
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    padiding-bottom: 5px;
    padding-left: 5px;
  }


}
