:host {
  display: block;
  background-color: #b0ff7c;
  margin: 0;
  padding: 5px;

  &.even {
    background-color: #93d76c;
  }

  &.selected {
    background-color: yellow;
  }

  &:hover {
    color: red;
    cursor: pointer;
  }

}

